.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* width:100%;
  height:auto; */
  /* background-color: DodgerBlue; */
}

#config {
  margin-bottom: 20px;
}

#config>div {
  margin-right: 10px;
  margin-left: 10px;
}

#hand {
  /* give some minimum height to the hand is always there, even when empty */
  min-height: 70px;
}

.tile {
  /* background-color: #ffffff; */
  /* display: flex; */
  /* flex: 33.33%; */
  /* margin: 3px; */
  /* padding: 20px; */

  /* min-width: 100%; */
  width: 80px;
  height: auto;

  text-align: center;
  position: relative;
}

.tile:hover {
  top: -5px;
}

.reverse {
  width: 70px;
  height: auto;
  bottom: 3px;
  left: 0px;
  position: relative;
}

.bg {
  width: 70px;
  height: auto;
  left: 0px;
  top: 0px;
  position: absolute;
}

.face {
  width: 54px;
  height: auto;
  left: 4px;
  bottom: 10px;
  position: absolute;
}

.marking {
	font-family: "Roboto";
	font-weight: bold;
	font-size: 16px;
	color: red;

	right: 15px;
	top: 3px;

	position: absolute;
}
